/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
  }
  
  .header-image img {
    height: 50px;
  }
  

.header-menu {
    width: 80%;
    display: flex;
    justify-content: center;
}
  
  .header-menu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .header-menu li {
    margin: 0 10px;
  }
  
  .header-icon {
    display: none;
  }
  
  .menu-icon {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }


  .budget-list {
    list-style: none;
    padding: 0;

  }
  
  .budget-item {
    display: flex; 
    align-items: center;
    margin-bottom: 10px;
  }
  
  .budget-title {
    margin-left: 10px;
  }
  
  .icon {
    font-size: 18px;
  }


  li.budget-item {
    margin-right: 60px;
  }
  


  .sidebar {
    position: fixed;
    top: 73px;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .sidebar li.budget-item {
    margin-right: 0;
  }



  /* Estilos para o menu em dispositivos móveis */
  @media (max-width: 768px) {
    .header-menu {
      display: none;
    }
  
    .header-icon {
      display: block;
    }
  
    .menu-icon span {
      display: block;
      width: 25px;
      height: 3px;
      background-color: #000;
      margin: 4px 0;
    }

    .sidebar {
      display: flex;
      justify-content: center;
    }

  }
  
  /* Estilos para ocultar o ícone em dispositivos desktop */
  @media (min-width: 769px) {
    .header-icon {
      display: none; 
    }
  }





