.listWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.list-container {
  padding: 10px 0;
  overflow-x: auto;
  width: 100%;
  max-width: 1280px;

  
}

.table-header {
  background-color: #f5f5f5;
  border-radius: 8px 8px 0 0;
  width: 1280px;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 16px;
  border-bottom: 1px solid #e0e0e0;
}

.table-cell {
  flex: 1;
  min-width: 120px;
  font-size: 14px;
  padding: 8px 0;
  box-sizing: border-box;
}

.table-cell input {
  border: none;
  
}


.table-cell.proposalView select {
  width: 170px;
  text-align: center;

}


.table-cell:nth-child(1).proposalView {
  min-width: 100px;
  text-align: center; 
  
}

.table-cell:nth-child(2).proposalView {
  min-width: 200px;
  text-align: center;
  font-weight: 600; 
}

.table-cell:nth-child(3).proposalView {
  min-width: 110px;
  text-align: center; 
}

.table-cell:nth-child(4).proposalView {
  min-width: 110px;
  text-align: center; 
}

.table-cell:nth-child(5).proposalView {
  min-width: 210px;
  text-align: center;
  font-weight: 600; 
}

.table-cell:nth-child(6).proposalView {
  min-width: 120px;
  text-align: center; 
}

.table-cell:nth-child(7).proposalView {
  min-width: 170px;
  text-align: center; 
}

.table-cell:nth-child(8).proposalView {
  min-width: 140px;
  text-align: center;
  font-weight: 600;
}


.table-cell:nth-child(9).proposalView {
  min-width: 60px;
  text-align: center; 
}




.table-container {
  width: 1280px; 
  overflow-x: auto;
}


.table-body {
  width: 1280px;
}

.blurred {
  filter: blur(5px);
  pointer-events: none;
  user-select: none;
}

