body {
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #d3d3d3d3;
    font-family: 'Inter', sans-serif;
    
}

.content {
    display: flex;
    justify-content: center;
}

.viewBox {
    padding: 40px;
    margin: 20px;
    background-color: white;
    border-radius: 8px;
    max-width: 1480px;
    
}

.center {
    display: flex;
    justify-content: center;
}


button {
    background-color: #004AAD;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 8px;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
}

.actionsButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px
}


.viewTitle {
    color: #FFC100;
}


.sectionTitle {
    color: #004AAD;
}




@media (max-width: 768px) {
    .content {
        display: block;
    }

    .actionsButtons {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}